[submodule "examples"]
	path = examples
	url = https://github.com/WhoBrokeTheBuild/Dusk-examples.git
	branch = master
[submodule "depend/glm"]
	path = depend/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "depend/json"]
	path = depend/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "depend/lua"]
	path = depend/lua
	url = https://github.com/LuaDist/lua
	branch = lua-5.3
[submodule "depend/zlib"]
	path = depend/zlib
	url = https://github.com/madler/zlib
	branch = tags/v1.2.11
[submodule "depend/flatbuffers"]
	path = depend/flatbuffers
	url = https://github.com/google/flatbuffers
	branch = tags/v1.6.0
[submodule "depend/glfw"]
	path = depend/glfw
	url = https://github.com/glfw/glfw
	branch = tags/3.2.1
