[submodule "examples"]
	path = examples
	url = https://github.com/WhoBrokeTheBuild/Dusk-examples.git
	branch = master
[submodule "depend/glm"]
	path = depend/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "depend/json"]
	path = depend/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "depend/lua"]
	path = depend/lua
	url = https://github.com/LuaDist/lua
	branch = lua-5.3
[submodule "depend/zlib"]
	path = depend/zlib
	url = https://github.com/madler/zlib
	branch = tags/v1.2.11
[submodule "depend/flatbuffers"]
	path = depend/flatbuffers
	url = https://github.com/WhoBrokeTheBuild/flatbuffers.git
	branch = master
[submodule "depend/glfw"]
	path = depend/glfw
	url = https://github.com/glfw/glfw
	branch = tags/3.2.1
[submodule "depend/openal"]
	path = depend/openal
	url = https://github.com/kcat/openal-soft
	branch = tags/openal-soft-1.18.0
[submodule "depend/vorbis"]
	path = depend/libvorbis
	url = https://github.com/xiph/vorbis
	branch = tags/v1.3.5
[submodule "depend/ogg"]
	path = depend/libogg
	url = https://github.com/xiph/ogg
	branch = tags/v1.3.2
[submodule "depend/libtheora"]
	path = depend/libtheora
	url = https://github.com/xiph/theora
[submodule "depend/sol2"]
	path = depend/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = tags/v2.18.0
